html {
    height: 100vh;
    overflow: hidden;
}

body {
    width: 100%;
    background: #000;
}

.screen-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    height: 80%;
    overflow: hidden;
    background: #292929;
    perspective: 300px;
    display: flex;
    justify-content: center;
}

.text-container {
    width: 90%;
    height: 200%;
    margin: 0 auto;
    transform: scale3d(1, 1, 1) rotateX(25deg);
    position: relative;
}

.text {
    width: 100%;
    height: 100%;
    text-align: center;
    position: absolute;
    top: 50%;
    animation-name: text-animation;
    animation-duration: 30s;
    animation-delay: 0s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes text-animation {
    0% {
        top: 50%;
    }
    99% {
        top: -50%;
    }
    100% {
        top: 50%;
    }
}

h1 {
    font-family: 'Play', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 1.5;
    color: #FFEA1D;
    margin-bottom: 2%;
}

h2 {
    font-family: 'Play', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 1.5;
    color: #FFEA1D;
    margin-bottom: 2%;
}

p {
    font-family: 'Play', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 1.5;
    color: #FFEA1D;
    margin-bottom: 2%;
}

audio {
    width: 250px;
    position: absolute;
    left: 50%;
    bottom: 0.5%;
    margin-right: -50%;
    transform: translate(-50%);
}